.App {
  text-align: left;
}

.path-name {
  margin-left: 20px;
}

.grid-contents {
  margin-left: 20px;
  margin-right: 20px;
}

.name-of-file {
  margin-left: 25%;
}

.drop-file-area {
  margin-left: 25%;
  width: 50%;
}


.drop-csv-buttons {
  text-align: center;
}